    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About GreenPipe Ltd</h2>
              <br/>
                <p>GreenPipe is an IT company that specialised in dataflow. We are Apache NiFi specialists and typically employ NiFi and its complementary applications to meet our customers needs.</p>
                <p>We offer the full range of dataflow support including building infrastructure, writing bespoke code, defining/creating the flow, and remote or local support.</p>
                <p>In addition we offer training to upskill customer staff with the knowledge required for long term support.</p>
                <br/>
              </div>
        </div>
    </section>
    